include LICENSE
include protocol/avro.h
include protocol/bufferrange.h
include protocol/common.h
include protocol/dt.h
include protocol/platform.h
include protocol/protocol.h
include protocol/record.h
include protocol/schema.h
prune build
prune _build
prune docs
prune templates
prune test
exclude *.sh